.res_box {
    border-bottom-style: solid;
    border-bottom-color: #aaaaaa;
    border-bottom-width: 1px;
}

.res {
    margin-bottom: 40px;
}

.sticky {
    position: fixed;
    top: 0px;
}

.container {
    min-width:600px;
}

.x_axis path, .x_axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.legend_text {
    font: 11px sans-serif;
}

button {
    position: absolute;
    top: 0px; 
    right: 15px;
    background-color:steelblue;
    color:white;
    padding: 5;
    border: none;
}
